
body {
  background-color: #CCC;
}
#container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#big-compass{
  width:100px;
  height:100px;
}

#small-compass{
  width:60px;
  height:60px;
}

#locations {
  list-style: none;
}
#locations li {
  clear: both;
}
#locations p, img {
  float: left;
  margin-right: 20px;
  font-size: 25px;
}

#locations p {
  width: 120px;
}
