body{
  background-color:#fff000
}

#big-compass{
  width:100px;
  height:100px;
}

#small-compass{
  width:40px;
  height:40px;
}

#locations {
  list-style: none;
}
#locations li {
  clear: both;
}
#locations p, img {
  float: left;
  margin-right: 10px;
  font-size: 16px;
  line-height: 20px;
}

#locations p {
  width: 70px;
}
